.new-element {
  background-color: black;
  color: aliceblue;
}

.new-heading {
  color: hsl(35, 77%, 62%);
  margin: 10px 50px;
}

.para-new {
  margin: 40px 50px;
  font-size: 18px;
}

.future-head {
  font-size: 100px;
  font-weight: 800;
  line-height: 80px;
  padding-top: 30px;
}
.future-paragraph {
  padding-top: 30px;
}

.second {
  font-size: 22px;
  font-weight: 800;
  line-height: 20px;
}

.number {
  font-size: 25px;
  color: lightgray;
}

.description {
  line-height: 15px;
}

.fte-container {
  margin-top: 40px;
}

.nav-heading {
  font-size: 30px;
}

.future-paragraph {
  color: rgb(110, 106, 106);
}

.btn-read {
  border: 0;
  border-color: azure;
  border-radius: 25px;
  background-color: hsl(5, 85%, 63%);
  color: white;
}
